*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Full palette: https://coolors.co/palette/0b090a-161a1d-660708-a4161a-ba181b-e5383b-b1a7a6-d3d3d3-f5f3f4-ffffff */
:root {
	--color-light: #f5f3f4;
	--color-dark: #0b090a;
	--color-accent-1: #161a1d;
	--color-accent-2: #e5383b;
}

::selection {
	background-color: var(--color-accent-2);
}

body {
	font-family: sans-serif;
	background-color: var(--color-light);
	color: var(--color-light);
	background-color: var(--color-dark);
	margin: 0;
	padding: 0;
}

input[type='file'] {
	display: none;
}

.chart-separator {
	height: 4px;
	border: none;
	background-color: var(--color-accent-1);
	border-radius: 2px;
}

header {
	display: flex;
	background-color: var(--color-accent-1);
	color: var(--color-light);
	padding: 1rem;
	border-bottom: 2px solid var(--color-accent-2);
	height: 4rem;
	align-items: center;
	gap: 2rem;
}

.header__title {
	font-size: 1.8rem;
	margin: 0;
	margin-left: 0.8rem;
}

.header__file-selector {
	background-color: var(--color-dark);
	padding: 0.8rem;
	border-radius: 0.4rem;
	user-select: none;
}
.header__file-selector:hover {
	background-color: var(--color-accent-2);
	cursor: pointer;
}

main {
	margin: 8px;
}

.main__message {
	display: inline-block;
	background-color: var(--color-accent-1);
	font-size: 1.1rem;
	margin: 0.7rem;
	padding: 0.5rem;
	padding-block: 0.3rem;
	border-radius: 0.4rem;
}
